@page "/about"

<h3>About the To-Do List Application</h3>
<p>
    To-Do App is .NET Blazor application. It is a Progressive Web Application (PWA) so you can install it in your device and run ofline. This is part of my .NET Blazor tutorials at my blog Coder Schmoder.
</p>
<p>
    This application is an demonstration of using JS Interop in Blazor, and a demonstration of a PWA application.
</p>
<p>
    The limitation of this application is that it uses the browser's local storage for storing your data. The data is persistent and behaves like a cookie, until you clear the cache.
</p>
@code {

}
